.fira-sans-regular{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 8%;
}
body{
    background-color: #f1f1f1;
}

/* Shared Styles */

.semi-black{
    color: black;
    opacity: 80%;
}

.light-green{
    background-color: #C6E4D6;
}
.btn{
    color: white;
    text-decoration: none;
    background-color: #006A50;
    border-style: none;
    border-radius: 8px;
    padding: 17px 34px;
}
.button{
    color: white;
    text-decoration: none;
    background-color: #006A50;
    border-style: none;
    border-radius: 8px;
    padding: 17px 34px;
}
.sign-button{
    color: #006A50;
    font-size: 16px;
    font-weight: 700;
    padding: 8px;
    width: 90px;
    height: 40px;
    border: 1.5px solid;
}
.bg-color1{
    background-color: #548ff531;
    border-radius: 8px;
    margin-inline:calc(10px);
    padding: 25px;
}
.bg-color2{
    background-color: #09a15d2c;
    border-radius: 8px;
    margin-inline:calc(10px);
    padding: 25px;
}
.bg-color3{
    background-color: #F7EBCF;
    border-radius: 8px;
    margin-inline:calc(10px);
    padding: 25px;
}
/* The Vision of Future Section Button and Background Styles */
.card-btn1{
    color: white;
    text-decoration: none;
    background-color: #5490F5;
    border-style: none;
    border-radius: 8px;
    padding: 17px 34px;
}
.card-btn2{
    color: white;
    text-decoration: none;
    background-color: #09A15C;
    border-style: none;
    border-radius: 8px;
    padding: 17px 34px;
}
.card-btn3{
    color: white;
    text-decoration: none;
    background-color: #FFC239;
    border-style: none;
    border-radius: 8px;
    padding: 17px 34px;
}
button:hover{
    background-color:#00ac81;
}

.table-button:hover{
    background-color:#00ac81;
}

/* Navigation Styles */

nav button{
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    border-radius: 8px;
    border-color: #006A50;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

/* Banner Styles */
.memorial{
    width: 300px;
}
.ban-items{
    background-color: white;
    display: flex;
    align-items: center;
    padding: 80px 100px;
    height: 250px;
    justify-content: space-between;
    border-radius: 24px;
    margin-top: 15px;
}
.ban-content{
    margin-right: 64px;
}
.ban-button{
    color: black;
    opacity: 50%;
}
.memorial{
    margin-left: 0px;
}

/* Main Styles */
.pillars{
    padding-top: 20px;
}
.card-icons{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.cards{
    background-color: white;
    border-radius: 8px;
    margin-inline:calc(10px);
    padding: 25px;
}
.c1{
    width: 64px;
}
.future{
    padding-top: 40px;
    margin: 0px;
}
.vision-cards{
    background-color: white;
    border-radius: 8px;
    margin-inline: calc(10px);
    padding: 10px;
}
.quote{
    margin-top: 32px;
    padding: 30px 24px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid;
    border-color: #0e0e0e2a;
}
.quote-img{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    padding-left: 3px;
    padding-top: 10px;
}
.opinion{
    background-color: white;
    border-radius: 8px;
    margin-top: 40px;
    padding: 18px;
}
.table-head{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #C6E4D6;
    border: 1px solid lightgray;
    box-shadow: #0E0E0E;
    padding: 0px 15px;
}
.td{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #0E0E0E;
    border-bottom: 0px;
    margin: 0;
    padding: 0 15px;
}
.bottom-line{
    border: 1px solid #0E0E0E;
}
.table-button{
    background-color: #C6E4D6;
    padding: 10px 14px;
    border-radius: 8px;
    margin: 5px;
}
.recent-news{
    padding-top: 20px;
}
.sat-pic{
    width: 408px;
    border-radius: 8px;
}
.satelite{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    padding: 48px;
    margin-bottom: 20px;
    gap: 30px;
}
.donate{
    display: flex;
    justify-content: center;
}
.tk{
    padding: 15px 30px;
    margin-right: 20px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bolder;
    opacity: 80%;
}

.amount{
    margin: 20px;
}

.headline-font{
    font-size: 30px;
    font-weight: 800;
}

.subtitle{
    color: #0e0e0ed5;
}
.desig-style{
    color: #0e0e0e9d;
}

/* Footer Styles */

footer{
    padding: 40px 0;
}

.footer-margin{
    align-items: center;
    margin-right: 10px;
}
.last-sec{
    background-color:#C6E4D6;
    border-radius: 8px;
    margin-top: 32px;
    padding: 40px 60px;
}
.email-area{
    border: none;
    border-radius: 8px 0px 0px 8px;
}
input[type=email]{
    width: 250px;
    padding: 17px 34px;
    margin-left: 2px;
}
.textarea{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #0E0E0E;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    width: 600px;
    height: 28px;
    text-align: center;
}
.textarea:hover{
    cursor: pointer;
    background-color: rgb(245, 238, 252);
}

.email-area:hover{
    cursor: pointer;
    background-color: rgb(245, 238, 252);
}
.subscribe-btn{
    color: white;
    text-decoration: none;
    background-color: #006A50;
    border-style: none;
    padding: 17px 34px;
    border: none;
    border-radius: 0px 8px 8px 0px;
}

